*{
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.header-link-div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.links-btn{
    display: flex;
    gap: 2px;
    padding: 7px 20px;
    text-decoration: none;
    color: rgb(96, 94, 94);
    border-radius: 5px;

}

.links-btn:hover{
    background-color: rgb(233, 221, 233);
    color: rgb(219, 69, 219);


}

.profile-details-btn{
    display: flex;
    gap: 2px;
    padding: 7px 20px;
    text-decoration: none;
    color: rgb(96, 94, 94);
    border-radius: 5px;

}

.profile-details-btn:hover{
    background-color: rgb(233, 221, 233);
    color: rgb(219, 69, 219);
}

.preview{
    color: rgb(100, 38, 100);
    text-decoration: none;
    border: 1px solid;
    border-radius: 8px;
    padding: 7px 20px;
}

.preview:hover{
    color: white;
    background-color: rgb(160, 51, 160);
}



.conteiner{
    display: flex;
    padding: 30px;
}


.phone{
    padding: 30px 150px;
}


.profile-detalis{
    h1{
        font-size: 30px;
        color: rgb(47, 41, 41);
    }
    p{

        font-size: 14px;
        color: rgb(181, 171, 171);
        margin-bottom: 30px;
    }
}


.addBtn{
    font-size: 18px;
    background: transparent;
    border-color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 250px;
    color: rgb(165, 100, 165);
    border: 1px solid rgb(120, 56, 120);
}

.addBtn:hover{
    box-shadow: 0px 16px 30px -10px rgba(152, 10, 152, 0.2);
    
}


.boxOne{
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 5px;
    background-color: rgb(241, 232, 232);

    b{
        font-size: 20px;
        color: rgb(147, 139, 139);
        display: block;
        margin: 5px 20px;

    }
    p{
        font-size: 12px;
        color: rgb(147, 139, 139);
        margin: 5px 20px;
    }
}

.platform1{
    border: none;
    border-radius: 7px;
    margin: 10px 20px;
    width: 560px;
    height: 40px;
}

.link{
    border: none;
    border-radius: 7px;
    margin: 10px 20px;
    width: 560px;
    height: 40px;
}


.save{
    right: 0;
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: rgb(52, 52, 244);
}
.saveBtnDiv{
    display: flex;
    justify-content: end;
}