*{
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.header-link-div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.links-btn{
    display: flex;
    gap: 2px;
    padding: 7px 20px;
    text-decoration: none;
    color: rgb(96, 94, 94);
    border-radius: 5px;

}

.links-btn:hover{
    background-color: rgb(233, 221, 233);
    color: rgb(219, 69, 219);


}

.profile-details-btn{
    display: flex;
    gap: 2px;
    padding: 7px 20px;
    text-decoration: none;
    color: rgb(96, 94, 94);
    border-radius: 5px;

}

.profile-details-btn:hover{
    background-color: rgb(233, 221, 233);
    color: rgb(219, 69, 219);
}

.preview{
    color: rgb(100, 38, 100);
    text-decoration: none;
    border: 1px solid;
    border-radius: 8px;
    padding: 7px 20px;
}

.preview:hover{
    color: white;
    background-color: rgb(160, 51, 160);
}


.conteiner{
    display: flex;
    padding: 30px;
}
.phone{
    padding: 30px 150px;
}

.profile-detalis{
    h1{
        font-size: 30px;
        color: rgb(47, 41, 41);
    }
    p{

        font-size: 14px;
        color: rgb(181, 171, 171);
        margin-bottom: 30px;
    }
}

.profile-upload{
    margin-top: 100px;
    p{

        font-size: 14px;
        color: rgb(181, 171, 171);
        margin-bottom: 30px;
    }
}


.user-info{
    margin-top: 70px;
    font-size: 14px;
    color: rgb(181, 171, 171);
    
    input{
        width: 350px;
        height: 35px;
    }
    input:hover{
        border: none;
        border-color: purple;
        box-shadow: 0 10px 25px rgba(235, 10, 235, 0.2);
        box-shadow: 0 -10px 25px rgba(235, 10, 235, 0.2);
        box-shadow: 10px 0 25px rgba(235, 10, 235, 0.2);
        box-shadow: -10px 0 25px rgba(235, 10, 235, 0.2);


    }
}

.save{
    right: 0;
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: rgb(52, 52, 244);
}
.saveBtnDiv{
    display: flex;
    justify-content: end;
}